/*phone*/

img {
  align-self: center;
}



@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");
@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


body {
  background-color: #000000;
}



h1 {
  font-family: "SF Distant Galaxy";
}

body{background:pink}
.row{
  display:flex;
  flex-direction:column;
}

/* computer */
@media screen and (min-width: 600px) {
body{background:blueviolet}
.row{
  justify-content:space-evenly;
  flex-direction: row;
  display:block;
}


}

